
<nav>

  <li class="thumb_a2"><a href="http://google.com" data-toggle="tooltip" data-placement="top" title="Tooltip on top">as</a>a2</li>
  <li class="thumb_a3"></li>
  <li class="thumb_a4"></li>
  <li class="thumb_a5"></li>
  <li class="thumb_30x30"></li>
  <li class="thumb_25x25"></li>
  <li class="thumb_20x20"></li>
  <li class="thumb_15x15"></li>
  <li class="thumb_quadrado"></li>
  <li class="thumb_fotogramma"></li>
  <li class="thumb_20x15"></li>
  <li class="thumb_20x25"></li>
  <li class="thumb_pro30x40"></li>
  <li class="thumb_panorama"></li>
  <li class="thumb_wide"></li>
 
</nav>